body {
  
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;

}
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-style{
  color: #2e2f42;

}
.nav-bar {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-bar:hover {
  color: #404bbf;
}
.nav-bar:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.adress-a{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;  
}
.adress-a:hover{
  color: #404bbf;
}
.adress-a:focus{
  color: #404bbf;
}
.section-one{
  background-color: #2e2f42;
}
.title{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;  
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff ;
  cursor: pointer;

}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}  

.title-3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

}

.section-three{
  background-color: #f4f4fd;
}
.title-2{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team{
  background-color: #ffffff;
}

.title-three{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-three{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.title-four{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.title-three-four {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text-four {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer{
  background-color: #2e2f42;
}
.footer-text{
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  
}
.logo-span{
  color: #2e2f42;
}